{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
<style>

    .cart-container{
        margin:10px;
    }
    .cart-index {
        max-width: 90%;
        margin: 40px auto;
        border: 5px solid #00236b;
        border-radius: 30px;
        padding: 20px;
        background-color: #eef4ff;
    }

    .cart-index h1 {
        border-bottom: 2px solid #89b0ff;
        padding-bottom: 15px;
        font-size: 16px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #00236b;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #00236b;
        color: #fff;
    }

    tr:nth-child(even) {
        background-color: #dbe7ff;
    }

    .total-price {
        margin-top: 20px;
        font-size: 18px;
        font-weight: bold;
        color: #00236b;
    }

</style>

<div class="cart-container">
<div class="cart-index">
    <h1>Mon Panier</h1>

    {% if cartProducts is empty %}
        <p>Votre panier est vide.</p>
    
    {% endif %}


</div>
</div>
{% endblock %}
