{% extends 'base.html.twig' %}

{% block title %}Accueil - Stubborn{% endblock %}

{% block body %}
<style>
    .products {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .product {
        border: 2px solid #00236b;
        border-radius: 10px;
        padding: 15px;
        background-color: #fff;
        text-align: left;
        width: 250px;
    }

    .product img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .product h3 {
        margin-top: 10px;
        font-size: 18px;
        color:#00236b;
        font-weight: bold;
    }

    .product p {
        font-size: 16px;
        margin-top: 5px;
    }

    /* Responsive à partir de 600px */
    @media (min-width: 600px) {
        .products {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .product {
            width: 280px;
        }
    }
</style>


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>

<section class="products">
    {% for product in products %}
        <div class="product">
            <img src="{{ asset(product.img) }}" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
            <p>{{ product.price }} €</p>
        </div>
    {% endfor %}
</section>


</body>
</html>

{% endblock %}
