{% extends 'base.html.twig' %}

{% block title %}Accueil - Stubborn{% endblock %}

{% block body %}
<style>
    
</style>

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>

<section class="products">
    {% for product in products %}
        <div class="product">
            <img src="{{ asset(product.img) }}" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
            <p>{{ product.price }} €</p>
        </div>
    {% endfor %}
</section>


</body>
</html>

{% endblock %}
