{% extends 'base.html.twig' %}

{% block title %}Page catégorie{% endblock %}

{% block body %}
<style>
    .list-category { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="list-category">
    <h1>Liste des Produits</h1>

    <ul>
    {% for product in products %}
        <li>
            <a href="{{ path('product_show', { id: product.id }) }}">{{ product.name }}</a> - {{ product.price }} €
        </li>
    {% else %}
        <li>Aucun produit trouvé.</li>
    {% endfor %}
</ul>
</div>
{% endblock %}
