{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<style>
    .product-page { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="product-page">
    <h1>{{ product.name }}</h1>
    <p>Prix : {{ product.price }} €</p>

    <form action="{{ path('cart_add', { id: product.id }) }}" method="post">
        <button type="submit">Ajouter au panier</button>
    </form>

    <a href="{{ path('products_list') }}">Retour à la liste</a>

</div>
{% endblock %}
